$color-primary: #639EFF;
$color-secondary: #EAEAEA;

$bg-primary: #1E1E1E;
$bg-secondary: #282828;

$border-radius: 4px;

$trans-primary: .35s ease-in-out;
$base-font-family: 'Roboto', Arial, sans-serif